In [1]:
# =======================================================
# Imports
# =======================================================

import pandas as pd
from vega_datasets import data

In [2]:
# =======================================================
# Datasets
# =======================================================
df_pessoa_acidentes_2007 = pd.read_csv('../PRF/por_pessoa/acidentes2007.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2008 = pd.read_csv('../PRF/por_pessoa/acidentes2008.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2009 = pd.read_csv('../PRF/por_pessoa/acidentes2009.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2010 = pd.read_csv('../PRF/por_pessoa/acidentes2010.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2011 = pd.read_csv('../PRF/por_pessoa/acidentes2011.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2012 = pd.read_csv('../PRF/por_pessoa/acidentes2012.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2013 = pd.read_csv('../PRF/por_pessoa/acidentes2013.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2014 = pd.read_csv('../PRF/por_pessoa/acidentes2014.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2015 = pd.read_csv('../PRF/por_pessoa/acidentes2015.csv', sep=',', encoding="ISO-8859-1")
df_pessoa_acidentes_2016 = pd.read_csv('../PRF/por_pessoa/acidentes2016.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2017 = pd.read_csv('../PRF/por_pessoa/acidentes2017.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2018 = pd.read_csv('../PRF/por_pessoa/acidentes2018.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2019 = pd.read_csv('../PRF/por_pessoa/acidentes2019.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2020 = pd.read_csv('../PRF/por_pessoa/acidentes2020.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2021 = pd.read_csv('../PRF/por_pessoa/acidentes2021.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2022 = pd.read_csv('../PRF/por_pessoa/acidentes2022.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2023 = pd.read_csv('../PRF/por_pessoa/acidentes2023.csv', sep=';', encoding="ISO-8859-1")
df_pessoa_acidentes_2024 = pd.read_csv('../PRF/por_pessoa/acidentes2024.csv', sep=';', encoding="ISO-8859-1")

/tmp/ipykernel_5179/3339992157.py:4: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pessoa_acidentes_2007 = pd.read_csv('../PRF/por_pessoa/acidentes2007.csv', sep=',', encoding="ISO-8859-1")
/tmp/ipykernel_5179/3339992157.py:5: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pessoa_acidentes_2008 = pd.read_csv('../PRF/por_pessoa/acidentes2008.csv', sep=',', encoding="ISO-8859-1")
/tmp/ipykernel_5179/3339992157.py:9: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pessoa_acidentes_2012 = pd.read_csv('../PRF/por_pessoa/acidentes2012.csv', sep=',', encoding="ISO-8859-1")
/tmp/ipykernel_5179/3339992157.py:14: DtypeWarning: Columns (22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pessoa_acidentes_2017 = pd.read_csv('../PRF/por_pessoa/acidentes2017.csv', sep=';', encoding="ISO-8859-1")

In [29]:
# =======================================================
# Datasets por ocorrencias
# =======================================================
df_por_ocorrencia_2007 = pd.read_csv('../PRF/por_ocorrencia/datatran2007.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2008 = pd.read_csv('../PRF/por_ocorrencia/datatran2008.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2009 = pd.read_csv('../PRF/por_ocorrencia/datatran2009.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2010 = pd.read_csv('../PRF/por_ocorrencia/datatran2010.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2011 = pd.read_csv('../PRF/por_ocorrencia/datatran2011.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2012 = pd.read_csv('../PRF/por_ocorrencia/datatran2012.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2013 = pd.read_csv('../PRF/por_ocorrencia/datatran2013.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2014 = pd.read_csv('../PRF/por_ocorrencia/datatran2014.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2015 = pd.read_csv('../PRF/por_ocorrencia/datatran2015.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2016 = pd.read_csv('../PRF/por_ocorrencia/datatran2016.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2017 = pd.read_csv('../PRF/por_ocorrencia/datatran2017.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2018 = pd.read_csv('../PRF/por_ocorrencia/datatran2018.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2019 = pd.read_csv('../PRF/por_ocorrencia/datatran2019.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2020 = pd.read_csv('../PRF/por_ocorrencia/datatran2020.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2021 = pd.read_csv('../PRF/por_ocorrencia/datatran2021.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2022 = pd.read_csv('../PRF/por_ocorrencia/datatran2022.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2023 = pd.read_csv('../PRF/por_ocorrencia/datatran2023.csv', sep=';', encoding="ISO-8859-1")
df_por_ocorrencia_2024 = pd.read_csv('../PRF/por_ocorrencia/datatran2024.csv', sep=';', encoding="ISO-8859-1")

/tmp/ipykernel_6166/1112222753.py:4: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_por_ocorrencia_2007 = pd.read_csv('../PRF/por_ocorrencia/datatran2007.csv', sep=';', encoding="ISO-8859-1")
/tmp/ipykernel_6166/1112222753.py:5: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_por_ocorrencia_2008 = pd.read_csv('../PRF/por_ocorrencia/datatran2008.csv', sep=';', encoding="ISO-8859-1")
/tmp/ipykernel_6166/1112222753.py:9: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_por_ocorrencia_2012 = pd.read_csv('../PRF/por_ocorrencia/datatran2012.csv', sep=';', encoding="ISO-8859-1")

In [2]:
df_2024 = pd.read_csv('geo/acidentes_localizacao_processado_2024.csv', sep=';', encoding="ISO-8859-1")
df_2024

,Unnamed: 0,data_inversa,uf,municipio,br,km,latitude,longitude,acidentes
0,0,2024-01-01,ES,CONCEICAO DA BARRA,101,38,-18.482610,-39.923790,3
1,1,2024-01-01,PI,PIRIPIRI,343,185,-4.296033,-41.767327,2
2,2,2024-01-01,BA,BREJOES,116,578,-13.071583,-39.961111,9
3,3,2024-01-01,SE,MALHADA DOS BOIS,101,18,-10.356019,-36.905522,3
4,4,2024-01-01,MT,RONDONOPOLIS,364,240,-16.179141,-54.789053,10
...,...,...,...,...,...,...,...,...,...
27248,27248,2024-07-07,SC,LAGES,282,"210,4",-27.779277,-50.235691,7
27249,27249,2024-08-31,BA,CATU,110,379,-12.411964,-38.436857,1
27250,27250,2024-07-21,ES,MIMOSO DO SUL,101,"445,5",-21.110463,-41.263511,3
27251,27251,2024-08-20,MG,AGUAS VERMELHAS,116,"13,6",-15.804386,-41.359894,1
27252,27252,2024-06-01,MG,ALPERCATA,116,422,-18.952870,-41.956825,1

In [3]:
df_br_uf = df_2024[(df_2024['br'] == 101) & (df_2024['uf'] == 'PE')]
df_br_uf

,Unnamed: 0,data_inversa,uf,municipio,br,km,latitude,longitude,acidentes
43,43,2024-01-02,PE,IGARASSU,101,46,-7.873478,-34.905957,4
46,46,2024-01-02,PE,PALMARES,101,198,-8.761488,-35.606362,1
159,159,2024-01-05,PE,GOIANA,101,4,-7.533512,-34.991547,5
261,261,2024-01-08,PE,JABOATAO DOS GUARARAPES,101,83,-8.175172,-34.942642,12
463,463,2024-01-13,PE,RECIFE,101,"65,5",-8.024786,-34.942766,20
...,...,...,...,...,...,...,...,...,...
26996,26996,2024-08-29,PE,PAULISTA,101,54,-7.945889,-34.904766,2
27080,27080,2024-08-30,PE,RECIFE,101,"72,6",-8.090625,-34.946855,2
27122,27122,2024-08-31,PE,RECIFE,101,68,-8.050112,-34.946019,6
27200,27200,2024-08-22,PE,PALMARES,101,180,-8.635238,-35.560932,2
27244,27244,2024-06-13,PE,ESCADA,101,130,-8.392345,-35.257055,2

In [4]:
df2 = df_2024[(df_2024['br'] == 101)]
lista_ufs = df2['uf'].unique()
lista_ufs

array(['ES', 'SE', 'BA', 'RS', 'PB', 'SC', 'PE', 'RJ', 'AL', 'RN', 'SP'],
      dtype=object)